In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv("48_Industry_Portfolios_daily.CSV")
dates = pd.to_datetime(df.iloc[:, 0], format='%Y%m%d', errors='coerce')
df.iloc[:, 0] = dates

,Unnamed: 0,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
0,1926-07-01,0.56,-0.07,NaN,-1.39,0.0,-1.44,0.62,-1.27,-0.9,...,-0.93,0.15,2.77,-0.02,0.27,0.59,0.47,0.81,0.69,-1.66
1,1926-07-02,0.29,0.06,NaN,0.78,0.7,1.46,0.03,0.0,-0.34,...,1.07,0.06,0.0,0.01,-0.1,1.04,-0.03,-0.61,-0.45,3.09
2,1926-07-06,-0.33,0.18,NaN,-1.74,0.5,-0.96,-0.06,4.27,-1.2,...,0.73,-0.19,0.77,-0.22,-0.67,0.45,0.31,-0.72,0.04,1.41
3,1926-07-07,3.57,-0.15,NaN,-1.73,-0.12,-0.49,-0.06,-4.1,-0.22,...,2.22,0.18,-3.21,-0.57,-0.7,-1.09,0.21,0.07,-0.4,0.62
4,1926-07-08,0.3,1.12,NaN,-0.15,0.3,-0.49,0.24,0.0,-0.01,...,-0.39,0.46,-1.1,-0.38,0.33,0.99,-0.88,-0.36,-0.93,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48195,2017-10-25,0.6,0.02,-1.05,-0.64,-1.3,-1.59,-0.86,-0.06,0.03,...,-0.55,-0.89,-0.8,-0.04,-1.28,0.11,-0.25,0.14,-0.4,-1.09
48196,2017-10-26,0.36,-0.18,0.72,0.18,1.25,0.29,0.28,0.67,0.0,...,0.39,1.0,-0.07,0.51,1.05,0.54,1.0,0.46,0.22,0.27
48197,2017-10-27,0.69,0.43,-0.87,-0.58,-0.66,-1.56,0.62,-0.27,-0.36,...,-0.21,0.25,-0.33,-1.04,0.41,0.49,0.58,0.15,0.34,0.72
48198,2017-10-30,-1.99,-1.74,-1.43,-0.54,-1.58,-0.11,-1.06,-1.15,-0.95,...,-1.42,-1.31,-0.86,-1.9,-0.54,-1.76,-0.74,-1.03,-1.25,-0.14
48199,2017-10-31,1.29,1.42,1.18,2.55,-0.03,-2.52,0.98,0.59,0.54,...,-1.68,0.7,0.61,-0.2,0.17,0.58,0.39,1.17,0.02,0.62